.validation-error {
    color: $form-feedback-invalid-color;
    font-size: 0.875em;
}

// FIX hehes
.choices {
    margin-bottom: 0;
}

.choices__inner {
    padding: 0.55rem 1rem;
}

.choices__list {
    padding: 0;
}

.choices__item {
    font-size: 1.05rem;
}

table.dataTable td {
    padding: 15px 8px;
}

//Icon
.true-icon {
    content: "";
    height: 20px;
    width: 20px;
    display: block;
    background-image: url("../icon/check.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center, 50%, 50%;
    margin: auto;
}

.false-icon {
    content: "";
    height: 20px;
    width: 20px;
    display: block;
    color: green;
    background-image: url("../icon/x.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center, 50%, 50%;
    margin: auto;
}

.check-icon {
    content: "";
    height: 20px;
    width: 20px;
    display: inline-block;
    background-image: url("../icon/check-circle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center, 50%, 50%;
    margin: auto;
}

.exclamation-icon {
    content: "";
    height: 20px;
    width: 20px;
    display: inline-block;
    background-image: url("../icon/exclamation-circle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center, 50%, 50%;
    margin: auto;
}

//collapse
.collapse-icon {
    content: "";
    height: 20px;
    width: 20px;
    display: inline-block;
    background-image: url("../icon/caret-up.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center, 50%, 50%;
    margin: auto;
    transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button-collapse.collapsed {
    .collapse-icon {
        transform: rotate(180deg);
    }
}

//callout
.callout {
    padding: 1.25rem;
    background-color: var(--bd-callout-bg, var(--bs-gray-100));
    border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}

.callout-info {
    --bd-callout-bg: rgba(var(--bs-info-rgb), 0.075);
    --bd-callout-border: rgba(var(--bs-info-rgb), 0.5);
}

.callout-danger {
    --bd-callout-bg: rgba(var(--bs-danger-rgb), 0.075);
    --bd-callout-border: rgba(var(--bs-danger-rgb), 0.5);
}
